############################
# ENVIRONMENT / SECRETS
############################
.env
.env.*
!.env.example
!.env.examples


application-local.yml
application.properties.bak
############################
# MAVEN / GRADLE BUILD
############################
target/
build/
out/
*.class

############################
# MAVEN WRAPPER
############################
.mvn/wrapper/maven-wrapper.jar

############################
# SPRING TOOL SUITE / ECLIPSE
############################
.classpath
.project
.settings/
.springBeans
.sts4-cache/
.apt_generated
.factorypath

############################
# INTELLIJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# VISUAL STUDIO CODE
############################
.vscode/

############################
# NETBEANS
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# DOCKER
############################
docker-data/
**/docker-data/
*.pid

############################
# LOG FILES
############################
logs/
*.log

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# KEEP EXAMPLE FILES
############################
!.env.example
!.env.examples
